import React from 'react'
import { Mutation } from 'react-apollo'
import { <%= props.screamingQuery %> } from './<%= props.pascalName %>.mutation'

const statePath = data => path(['location', 'state', 'data'], data)

class <%= props.pascalName %> extends React.Component {
  constructor (props) {
    super(props)
    this.state = {
      someKey: 'someValue'
    }
  }
  render () {
    return (
      <Mutation
        mutation={<%= props.screamingQuery %>}
        onError={errors => {
          this.setState({ errors: errors, variant: 'error', visible: true })
        }}
        onCompleted={data =>
          this.setState({ variant: 'success', visible: true })}
      >
        {(<%= props.camelQuery %>, { data, loading }) => (
          <div>
            <Example
              details={statePath(this.props)}
              onSubmit={x => <%= props.camelQuery %>({ variables: { input: x }}) }
            />
          </div>
        )}
      </Mutation>
    )
  }
}

export { <%= props.pascalName %> }
